<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Handling the HTML Forms of Flask</h1>
        <form action="" method="POST">
            <table>
                <label for="name">Name : </label>
                <input type="text" name="name" id="name"><br><br>
                <label for="age">Age : </label>
                <input type="number" name="age" id="age"><br><br>
            </table>
            <input type="submit" value="Explore">
        </form>
    </center>
</body>
</html>